@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
  font-family: IRANSans, system-ui ;
  font-weight: 450;
  direction: rtl;
  margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
  font-family: IRANSans, serif ;
}
h1 {
  font-weight: bold;
}

